.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }


div{
  height: 100px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
}

p {
  font-family: Helvetica;
}

.half {
  width: 50%;
  float: left;
  margin: 1px;
  box-sizing: border-box;
}

.full{
  background: blue;
  width: 100%;
  float: left;
  clear: both;
}
