
header {
  height: 50px;
  border: 1px solid black;
}

aside {
  border: 1px solid black;
  float: right;
  clear: both;
  width: 300px;
  height:700px;
  margin-top: 15px;
}

.posts {
  float: left;
  margin-bottom: 10px;
  border: 1px solid black
}

.avatar {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
